* {
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    color: #4F4757;
}

body {
    margin: 0;
    background-color: #e3e3e3;
}

input::placeholder {
    color: "rgba(244,156,67,0.9)";
}
